*, *::after, *::before {
    -webkit-user-select: none;
}

html {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #48545c;
    border-top: 0;

    &.maximized, &.fullscreen {
        border: none;
    }
}